.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 4em;
    margin-top: 2em;
    background-color: #38444b;
    .logo{
        img{
            width: 25%;
            margin: auto;
        }
        p{
            text-align: center;
            padding-top: 1em;
            margin-bottom: 0;
        }
    }
    p{
        color: rgb(233, 233, 233);
    }
}