<div class="footer animated fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>

      <div class="col-md-6">
        <div class="logo">
          <img src="../../assets/images/logo-reverse.png" alt="" class="img-brand img-responsive">
          <p>www.imoto.pl</p>
        </div>
      </div>

      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>
