button{
  width: auto;
}
.profile-image{
  width: 35px;
  height: 35px;
  margin-top: 8px;
}
.navbar-default{
  background-color: #fcfcfc;
}

.navbar-nav{
  >li{
    z-index: 0;
    a{
      color: #414f57;
      &::before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: 0;
      background-color:#414f57;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      }
    }
    a:hover{
      color: #fff;
      &::before{
      opacity: 1;
      }
    }
    &:nth-child(2){
      a{
        cursor: default;
        &:hover{
          color: unset !important;
        }
        &::before{
          display: none !important;
        }
      }
    }
    &.active{
      a{
        color: #fff;
        background-color:#414f57;
      }
    }
  }
  .dropdown-menu{
    li{
      a{
        &::before{
          display: none;
        }
      }
      a:hover{
        background-color:#414f57;
        color: #fff;
      &::before{
        opacity: 1;
      }
    }
    }
  }
}

@media(min-width:768px){
  nav.navbar{
    opacity: .95;
    height: 70px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    .navbar-nav>li>a{
      padding-top: 24px;
      height: 70px;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }
    .navbar-brand{
      padding: 18px 40px;
      font-size: 26px;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      img{
        width: 136px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }
    }

    &.scroll{
      height: 50px;
      .navbar-nav>li>a{
        padding-top: 15px;
        height: 50px;
      }
      .navbar-brand{
        padding: 10px 30px;
        font-size: 18px;
        img{
          width: 120px;
        }
      }
      .profile-image{
        margin-top: 8px;
      }
    }
  }
  .profile-image{
    margin-top: 17px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}

@media(max-width:768px){
  .profile-image{
    display: none;
  }
  .navbar-brand{
      padding: 10px 15px;
      img{
        width: 136px;
      }
    }
}
