<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/"><img src="../../assets/images/logo.png" alt="" class="img-brand img-responsive"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="userLoggedIn!==null"><img [src]="photoURL" alt="" class="profile-image img-circle"></li>
        <li *ngIf="userLoggedIn!==null"><a>{{userName}}</a></li>
        <li [ngClass]="{ active: isActive('/user')}" *ngIf="userLoggedIn!==null" (click)="userNotice()"><a>{{ 'MyAd' | translate }} </a></li>
        <li [ngClass]="{ active: isActive('/add')}" *ngIf="userLoggedIn!==null"><a (click)="addNotice()">{{ 'AddAd' | translate }} </a></li>
        <li *ngIf="userLoggedIn==null"><a (click)="login()">{{ 'Login' | translate }}</a></li>
        <li *ngIf="userLoggedIn!==null"><a (click)="logout()">{{ 'Logout' | translate }}</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">{{ 'Sel_lang' | translate }}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              <li>
                  <a (click)="switchPolish()"> {{ 'Languages.Polish' | translate }} </a>
              </li>
              <li>
                <a (click)="switchEnglish()"> {{ 'Languages.English' | translate }} </a>
              </li>
          </ul>
      </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
