<div class="container">
  <div class="form-container">
    <img src="assets/images/logo2.png" id="lock">

    <span class="error" *ngIf="error">{{ error }}</span>

  <button (click)="loginFb()" id="fb">{{ 'login.btnloginfb' | translate }}</button><br>
  <button (click)="loginGoogle()" id="google">{{ 'login.btnlogingoogle' | translate }}</button>
  <button routerLink="/login-email" id="email">{{ 'login.btnloginemail' | translate }}</button>

  <a routerLink="/signup" routerLinkActive="active" class="alc">{{ 'login.linktext1' | translate }} <strong>{{ 'login.linktext2' | translate }}</strong></a>
</div>
