.container{
    margin-top: 100px;
    min-height: 70vh;
    hr{
        margin:0;
    }
}

.item{
    background-color: #f9f9f9;
    .details{
        &-block{
            padding-left: 0;
        }
        i{
            margin-right: 6px;
            color: #37474f;
        }
        h4{
            font-size: 1.2em;
            font-weight: 400;
        }
        .info{
            .badge{
                font-size: 1.1em;
                margin: 3px;
                float: right;
                padding: 6px;
                background-color: #465761;
            }
        }
        .date{
            p{
                color: rgb(124, 124, 124);
            }
        }
        .price{
            margin-top: 40px;
            padding-right: 50px;
            text-align: right;
            color: green;
        }
    }
    .description{
        padding: 40px;
        p{
            white-space: pre-line;
            font-size: 1.15em;
        }
    }
    .image{
        height: 340px;
        overflow: hidden;
        cursor: pointer;
        img{
            min-height: 340px;
        }
    }
}

@media(max-width:992px){
    .image{
        height: unset !important;
        img{
            min-height: unset !important;
        }
    }
    hr{
        display: none;
    }
    h2{
        text-align: center;
    }
    .price{
        padding-right: 0 !important;
        padding-top: 20px;
    }
    .description{
        padding: 40px;
        padding-top: 70px !important;
    }
    .details{
        &-block{
            padding-left: 15px !important;
        }
    }
}

#lightbox{
    .modal-dialog{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal-content {
    display: inline-block;
    text-align: center;   
    }
    .modal-body{
        padding: 0;
    }
    .close {
    opacity: 1;
    color: #f1f1f1;
    padding: 5px 8px;
    position: absolute;
    font-size: 2.8em;
    font-weight: 300;
    top: -18px;
    width: 10px;
    right: -20px;
    z-index:1032;
    text-shadow: none;
    }
}