<app-navbar></app-navbar>
<div class="container animated fadeIn">
  <div *ngIf="item" class="item">
    <div class="row">
      <div class="col-md-6">
        <div class="image" data-toggle="modal" data-target="#lightbox">
          <img *ngIf="!item.photoURL" src="../../assets/images/noimage.jpg" class="img-responsive">          
          <img class="img-responsive" [src]="item.photoURL">
        </div>
      </div>
      <div class="col-md-6">
        <h2>{{item.title}}</h2>
        <div class="details">
          <div class="details-block col-sm-9">
            <div class="date">
              <p>{{ 'Date' | translate }}: {{item.date}}</p>
            </div>
            <div class="user">
              <h4>
                <i class="fas fa-user"></i> {{item.user}}</h4>
            </div>
            <div class="phone">
              <h4>
                <i class="fas fa-phone"></i> {{item.phone}}</h4>
            </div>
            <div class="location">
              <h4>
                <i class="fas fa-map-marker-alt"></i> {{item.location}}</h4>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="info">
              <span class="badge badge-pill badge-secondary">{{item.category}}</span>
              <span class="badge badge-pill badge-secondary">{{item.brand}}</span>
              <span class="badge badge-pill badge-secondary">{{item.condition}}</span>
            </div>
          </div>
          <div class="price col-sm-12">
            <h2>{{item.price | number}} PLN</h2>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <hr>
        <div class="description">
          <p>{{item.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="item" id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <div class="modal-content">
      <div class="modal-body">
        <img [src]="item.photoURL" class="img-responsive" alt="" />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
