.collection{
  margin-top: 60px;
  min-height: 70vh;
}
.item{
  background-color: #f9f9f9;
  margin: 1em 0;
  .content{
    .row{
      @media(min-width:992px){
        display: flex;
        align-items: center;
      }
    }
  }
  .details{
    padding-left: 3em;
    padding-right: 4em;
    p{
      font-weight: 500;
      text-align: center;
    }
  }
  .description{}
  .title{
    border-right: 1px solid rgb(204, 204, 204);
    cursor: pointer;
  }
}
.no-items{
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
  text-align: center;
  .btn-container{
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 1em;
  }
}
.pagination{
  display: flex;
  justify-content: center;
}

.show-by{
  margin-top: 70px;
  width: 200px;
}

@media(max-width:768px){
  .collection{
    margin-top: 50px;
  }
  .title{
    h2{
      text-align: center;
    }
  }
  .details{
    padding-bottom: 1em; 
  }
}
