<app-navbar></app-navbar>
<br>
<div class="container animated fadeIn">
  <loading-spinner *ngIf="showSpinner"></loading-spinner>
  <div class="collection">
    <div class="row">
      <div *ngFor="let item of (items)?.slice().reverse() | paginate: {itemsPerPage:5, currentPage: p}">
          <div class="col-md-10 col-md-offset-1">
            <div class="item">
              <div class="content">
                <div class="row">
                  <div class="image col-md-3">
                    <img [src]="item.photoURL" alt="" class="img-responsive">
                    <img *ngIf="!item.photoURL" src="../../assets/images/noimage.jpg" alt="" class="img-responsive">
                  </div>
                  <div class="title col-md-6">
                    <h2 routerLink="/notice/{{item.id}}">{{item.title}}</h2>
                  </div>
                  <div class="details col-md-3">
                    <p>{{ 'userwall.AddDate' | translate }}: {{item.date}}</p>
                    <button class="btn btn-danger" *ngIf="item.uid == userID && userLoggedIn" type="button" name="button" (click)="deleteItem(item.key,
                                                                    item.user, item.id)">{{ 'userwall.Delete' | translate }}</button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="items && items.length == 0" class="no-items">
            <div>
              <h4>{{ 'userwall.LeadTxt' | translate }}</h4>
              <div class="btn-container">
                <button routerLink="/add" class="btn btn-primary">{{ 'AddAd' | translate }}</button>              
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="pagination">
      <pagination-controls
       class="my-pagination" autoHide="true" 
       previousLabel="Poprzednia" nextLabel="Następna"
       (pageChange)="p = $event" *ngIf="!showSpinner && items.length > 0" 
       onClick="window.scrollTo(0,0)">
      </pagination-controls>
    </div>
</div>
<app-footer></app-footer>
