<app-navbar></app-navbar>
<div class="container animated fadeIn">
  <div class="row">
    <div class="content col-md-8 col-md-offset-2">
      <div class="">
        <br>
        <div class="title text-center">
          <h2>{{ 'add.PgTitle' | translate }}</h2>       
          
        </div>

        <form (ngSubmit)="onSubmit()">
          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="inputEmail4">{{ 'add.name' | translate }}</label>
              <input required
                     #name="ngModel"
                     type="text"
                     class="form-control"
                     id="inputName"
                     placeholder="{{ 'add.name' | translate }}"
                     [(ngModel)]="item.name"
                     name="name">
            </div>

            <div class="form-group col-md-6">
              <label for="inputPassword4">{{ 'add.location' | translate }}</label>
              <input required
                     #location="ngModel"
                     type="text"
                     class="form-control"
                     id="inputLocation"
                     placeholder="{{ 'add.location' | translate }}"
                     [(ngModel)]="item.location"
                     name="location"
                     spellcheck="off"
                     autocomplete="on"
                     #search>
            </div>

            <div class="form-group col-md-6">
              <label for="inputEmail4">{{ 'add.phone' | translate }}</label>
              <input required
                     minlength="7"
                     #phone="ngModel"
                     type="tel"
                     class="form-control"
                     id="inputPhone"
                     placeholder="{{ 'add.phone' | translate }}"
                     [(ngModel)]="item.phone"
                     name="phone">
            </div>

            <div class="form-group col-md-6">
              <label for="inputPassword4">{{ 'add.price' | translate }}</label>
              <input required
                     #price="ngModel"
                     type="number"
                     class="form-control"
                     id="inputPrice"
                     placeholder="{{ 'add.price' | translate }}"
                     [(ngModel)]="item.price"
                     name="price"
                     min="0">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label for="inputAddress">{{ 'add.title' | translate }}</label>
            <input required
                   minlength="3"
                   #title="ngModel"
                   type="text"
                   class="form-control"
                   id="inputTitle"
                   placeholder="{{ 'add.title' | translate }}"
                   [(ngModel)]="item.title"
                   name="title">
          </div>

          <div class="form-group col-md-6">
            <label for="exampleFormControlSelect1">{{ 'add.brand' | translate }}</label>
            <select 
              class="form-control" 
              id="inputBrand"
              [(ngModel)]="item.brand" 
              name="brand">
              <option *ngFor="let brand of brands">{{brand}}</option>
            </select>
          </div>

          <div class="form-group col-md-3">
            <label for="exampleFormControlSelect1">{{ 'add.category' | translate }}</label>
            <select 
               class="form-control" 
               id="inputCategory" 
               [(ngModel)]="item.category" 
               name="category">
              <option>{{ 'add.categories.car' | translate }}</option>
              <option>{{ 'add.categories.motorcycle' | translate }}</option>
              <option>{{ 'add.categories.tractor' | translate }}</option>
              <option>{{ 'add.categories.truck' | translate }}</option>
              <option>{{ 'add.categories.van' | translate }}</option>
              <option>{{ 'add.categories.airplane' | translate }}</option>
            </select>
          </div>

          <div class="form-group col-md-3">
            <label for="exampleFormControlSelect1">{{ 'add.state' | translate }}</label>
            <select 
               class="form-control" 
               id="inputCondition" 
               [(ngModel)]="item.condition" 
               name="condition">
              <option>{{ 'add.states.new' | translate }}</option>
              <option>{{ 'add.states.used' | translate }}</option>
            </select>
          </div>

          <div class="form-group col-md-12">
            <label for="inputAddress2">{{ 'add.description' | translate }}</label>
            <textarea class="form-control"
                      id="formControlTextarea"
                      rows="8"
                      placeholder="{{ 'add.description' | translate }}"
                      [(ngModel)]="item.description"
                      name="description">
            </textarea>
          </div>

          <div class="form-group col-md-12">
            <label for="exampleFormControlFile1">{{ 'add.photo' | translate }}</label>
            <div>
              <input type="file"
                     class="form-control-file"
                     id="formControlFile"
                     (change)="selectedImage($event)">
            </div>
          </div>
          
          <div class="col-md-12">

            <div class="progress">
              <div class="progress-bar progress-bar-animated"
              [ngStyle]="{ 'width': progress + '%' }"></div>
            </div>

            <div class="alert alert-danger" *ngIf="!name.valid && formSubmit==true">{{ 'add.alerts.alert1' | translate }}</div>
            <div class="alert alert-danger" *ngIf="!location.valid && formSubmit==true">{{ 'add.alerts.alert2' | translate }}</div>
            <div class="alert alert-danger" *ngIf="!phone.valid && formSubmit==true">
              <div *ngIf="phone.errors.required">{{ 'add.alerts.alert3' | translate }}</div>
              <div *ngIf="phone.errors.minlength">{{ 'add.alerts.alert4' | translate }}</div>
            </div>
            <div class="alert alert-danger" *ngIf="!price.valid && formSubmit==true">{{ 'add.alerts.alert5' | translate }}</div>
            <div class="alert alert-danger" *ngIf="!title.valid && formSubmit==true">
              <div *ngIf="title.errors.required">{{ 'add.alerts.alert6' | translate }}</div>
              
            </div>

            <div class="button-container">
              <button id="btnSubmit" type="submit" value="Submit" class="btn btn-primary" (click)="formSubmit=true">
                {{ 'add.addbtn' | translate }}
              </button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>