.content{
  margin-top: 100px;
  background-color: #fcfcfc;
  .title{
    h2{
      margin: .6em 0 1.4em 0;
      color: #37474f;
    }
  }
  .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    #btnSubmit{
      margin-bottom: 40px;
      margin-top: 20px;
      width: 180px;
    }
  }
}

.form-group{
  .ng-touched.ng-invalid{
    border: 1px solid #c20000;
  }
}

.alert{
  animation-name: opacity;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
