<app-navbar></app-navbar>
<br>
<div class="container animated fadeIn">
  <loading-spinner *ngIf="showSpinner"></loading-spinner>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 collection">
      <div *ngFor="let item of (items)?.slice().reverse() | paginate: {itemsPerPage:10, currentPage: p}">
        <div class="item" routerLink="/notice/{{item.id}}">
          <div class="row">
            <div class="image col-md-12">
              <div class="title">
                <h2>{{item.title}}</h2>
              </div>
              <img [src]="item.photoURL" alt="" class="img-responsive">
              <img *ngIf="!item.photoURL" src="../../assets/images/noimage.jpg" alt="" class="img-responsive">              
            </div>
            <div class="details col-sm-6">
              <p><i class="fas fa-calendar-alt"></i> {{item.date}}</p>
              <p><i class="fas fa-map-marker-alt"></i> {{item.location}}</p>
            </div>
            <div class="price col-sm-6">
              <h3>{{item.price | number}} PLN</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination">
    <pagination-controls class="my-pagination" autoHide="true"
     previousLabel="Poprzednia" nextLabel="Następna" 
     (pageChange)="p = $event" *ngIf="!showSpinner" 
     onClick="window.scrollTo(0,0)">
    </pagination-controls>
  </div>
</div>
<app-footer *ngIf="!showSpinner"></app-footer>



