.collection{
  margin-top: 50px;
}
.item{
  -webkit-box-shadow: 9px 9px 21px -7px rgba(0,0,0,0.34);
  -moz-box-shadow: 9px 9px 21px -7px rgba(0,0,0,0.34);
  box-shadow: 9px 9px 21px -7px rgba(0,0,0,0.34);
  cursor: pointer;
  background-color: #f9f9f9;
  margin: 3em 0;
  .row{
    margin: 0;
  }
  .image{
    padding: 0;
    max-height: 400px;
    overflow: hidden;
    .title{
      position: absolute;
      color: #fff;
      width: 100%;
      z-index: 1;
      h2{
        padding-left: 1em;
        padding-right: 1em;
        font-weight: 400;
      }
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(11,11,20);
        background: linear-gradient(180deg, rgba(11,11,20,1) 0%, rgba(0,0,0,0.8365721288515406) 0%, rgba(0,0,0,0) 100%);
        z-index: -1;
      }
    }
  }
  .price{
    text-align: right;
    padding: 1.8em 3.5em 1.5em 0;
    i{
      margin-right: 6px;
      color: #37474f;
    }
  }
  .details{
    padding: 2em 0em 1em 2.5em;
    i{
      margin-right: 8px;
      font-size: 1.3em;
    }
    p{
      font-size: 1.1em;
      &:last-child{
      margin-top: 1.5em;
    }
    }
    
  }
}

.pagination{
  display: flex;
  justify-content: center;
}

.show-by{
  margin-top: 70px;
  width: 200px;
}

.btn-danger{
  width: auto;
}

@media(max-width:768px){
  .collection{
    margin-top: 50px;
  }
  .item{
    .price{
      padding: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
}
