<div class="container">
  <div class="form-container">
    <a routerLink="/login" id="goback">Wróć</a>

    <h2>{{ 'signup.stitle' | translate }}</h2>

    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

      <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>
      <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>
      <button type="submit" [disabled]="!formData.valid" class="basic-btn">{{ 'signup.sbtn' | translate }}</button>
      <div id="alert-signup" class="alert alert-danger">
        <p>{{ error_msg }}</p>
      </div>
    </form>
</div>
