@accent-white: #f9f9f9;

body {
    background:#E2E4E6;
}

button {
    padding:1.2em;
    width:100%;
    cursor:pointer;
    margin-bottom:15px;
    font-size:1.3em;
}

.btn{
    border: none;
    border-radius: unset;
    padding: 1em 2em;
    -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    &.btn-primary{
        background-color: #414f57;
        
        &:hover{
            background-color: #4f6370;
        }
        
    }
}

input{
  &.txt{
      background:#fff !important;
      padding:1.3em 1em;
      font-size:1.3em;
      border: 1px solid #BBBBBB;
      width: 100%;
  }
}

a{
  cursor: pointer;
}

h2 {
    margin: .7em 0 .9em 0;
}

.basic-btn {
    background: #414f57;
    color:white;
    &:hover{
            background-color: #4f6370;
        }
}

.form-container {
    background:white;
    padding:3.5em;
    width:500px;
    position:relative;
    left:50%;
    margin-left:-250px;
}

.alc {
    text-align:center;
    display:block;
    margin: 15px 0;
}

.error {
    background:#f1f0ef;
    padding:1em;
    width:100%;
    display:block;
    margin-bottom:20px;
}

#goback {
    font-weight:bold;
    text-transform:uppercase;
    font-size:.8em;
    color:#3B8598;
}
#goback{
  span {
      font-size:1em;
  }
}

.toast-top-right {
  top: 6em;
  right: 1em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.toast-scroll{
  top: 4.5em;
}

.my-pagination /deep/ .ngx-pagination{
    padding-left: 0;
    .current {
    background: #414f57;
  }
}


@media (max-width: 600px) {
    body {
        padding-top:1.2em;
    }

    .form-container {
        padding:1.2em;
        width:90%;
        margin-left:-45%;
    }
    button {
        font-size:1em;
    }
}

.spinner {
  margin: 300px auto 0;
  width: 70px;
  text-align: center;
  .bounce{
      img{
          animation: spinner-anime 1s infinite ease;
      }
  }
}


/*
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
*/

@keyframes spinner-anime {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  } 100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
