<div class="container">
  <div class="form-container">
    <a routerLink="/login" id="goback">Wróć</a>
    <h2>{{ 'email.login' | translate }}</h2>

    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

      <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>
      <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>
      <button type="submit" [disabled]="!formData.valid" class="basic-btn">{{ 'email.login2' | translate }}</button>
      <div id="alert-email" class="alert alert-danger">
        <p>Nieprawidłowe dane logowania!</p>
      </div>
      <a routerLink="/signup" class="alc">{{ 'email.noacc' | translate }}</a>
    </form>
  </div>
</div>
